@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Roboto", serif;

    &::selection {
        color: #fff;
        background: rgb(247, 52, 94);
    }
}

/*================================== GLOBAL UTILITIES =========*/
.all-center {
    @apply flex items-center justify-center
}

.flex-center-between {
    @apply flex items-center justify-between
}

.g-transition {
    @apply transition-all duration-[.3s] ease-in-out
}

.w-content {
    @apply px-7 lg:px-14 max-w-[1280px] m-auto
}

.btn-main {
    @apply rounded-full text-color3 py-2 px-10 g-transition font-semibold;
}

.btn-1 {
    @apply btn-main bg-color7 hover:bg-color6;
}

.btn-2 {
    @apply btn-main bg-color6 hover:bg-color7;
}

.text-link {
    @apply text-color2 hover:text-color6 g-transition;
}

@keyframes pulse {
    50% {
        opacity: .5
    }
}

.animate-pulse {
    animation: pulse 2s cubic-bezier(.4,0,.6,1) infinite;
}

.skeleton {
    @apply bg-color10 animate-pulse rounded-sm;
}

.skeleton-circle {
    @apply bg-color10 animate-pulse rounded-full;
}

/*-------------------------- FORMS ----------------- */
.input-sizes {
    @apply  w-full max-w-[400px] px-7 py-2 lg:py-3;
}

.input-styles {
    @apply placeholder:text-[rgba(28,9,80,0.5)] focus:placeholder:text-color2 text-color2 font-medium  bg-color9 outline-color2 focus:bg-color3 text-sm md:text-lg;
}

.input {
    @apply input-sizes input-styles rounded-full;
}

.textarea {
    @apply input-styles input-sizes h-28 min-h-28 max-h-28 lg:h-40 lg:max-h-40;
}

.dropzone {
    @apply input-sizes input-styles mx-auto h-[250px] lg:h-[350px];
}

.btn-3 {
    @apply btn-main input-sizes bg-color5 hover:bg-color6;
}

.fieldset {
    @apply text-sm lg:text-lg all-center mb-10 font-medium flex-wrap w-full max-w-[400px] m-auto text-color2;
}

.check,
.ratio {
    @apply absolute h-0 w-0 opacity-0;
}

.custom-check {
    @apply w-4 h-4 block lg:w-5 lg:h-5 bg-color5 rounded-sm all-center;
}

.custom-ratio {
    @apply w-5 h-5 block lg:w-6 lg:h-6 bg-color5 rounded-full relative all-center;

    &:after {
        content: "";
        @apply absolute bg-color5 h-3 w-3 rounded-full;
    }
}

.icon-check {
    @apply text-color5
}

.ratio:checked ~ .custom-ratio:after {
    @apply absolute bg-color3;
}

.check:checked ~ .custom-check .icon-check {
    @apply text-color3
}

.loader {
    @apply bg-color6 w-10 lg:w-12 p-2 aspect-[1] rounded-[50%];
    --_m:
            conic-gradient(#0000 10%,#000),
            linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}

/* ---------------------------- HEADER --------------- */
.header-shadow {
    box-shadow: 0 20px 30px 0 rgba(28, 9, 80, .05);
}

.dropdown-shadow {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.avatar-dropdown {
    @apply dropdown-shadow hidden min-w-40 absolute top-[40px] right-0 bg-color3 text-[1rem] p-5 rounded-lg flex-col items-start gap-3;

    &::before {
        @apply block absolute top-0 right-3 w-3 h-3 bg-color3 z-0 translate-y-[-50%] rotate-45;
        content: "";
    }
}

.avatar-header-container {
    &:hover .avatar-dropdown {
        @apply flex;
    }
}

/*------------------- MAIN CONTENT & SECTIONS ------------- */
.bg-main {
    background: linear-gradient(rgb(28, 9, 80) 0%, rgb(28, 9, 80) 1%, rgb(28, 9, 80) 2%, rgb(28, 9, 80) 3%, rgb(28, 9, 80) 4%, rgb(28, 9, 80) 5%, rgb(28, 9, 80) 6%, rgb(28, 9, 80) 7%, rgb(28, 9, 80) 8%, rgb(28, 9, 80) 9%, rgb(28, 9, 80) 10%, rgb(28, 9, 80) 11%, rgb(28, 9, 80) 12%, rgb(28, 9, 80) 13%, rgb(28, 9, 80) 14%, rgb(28, 9, 80) 15%, rgb(28, 10, 81) 17.67%, rgb(29, 15, 85) 20.34%, rgb(30, 21, 91) 23.01%, rgb(32, 30, 99) 25.68%, rgb(34, 42, 110) 28.35%, rgb(37, 57, 124) 31.02%, rgb(40, 75, 140) 33.69%, rgb(43, 92, 157) 36.36%, rgb(46, 110, 173) 39.03%, rgb(49, 125, 187) 41.7%, rgb(51, 137, 198) 44.37%, rgb(53, 146, 206) 47.04%, rgb(54, 152, 212) 49.71%, rgb(55, 157, 216) 52.38%, rgb(55, 158, 217) 55%, rgb(56, 156, 216) 58%, rgb(58, 152, 215) 61%, rgb(61, 145, 212) 64%, rgb(66, 136, 209) 67%, rgb(72, 123, 204) 70%, rgb(79, 107, 198) 73%, rgb(88, 88, 191) 76%, rgb(97, 70, 185) 79%, rgb(106, 51, 178) 82%, rgb(114, 35, 172) 85%, rgb(120, 22, 167) 88%, rgb(124, 13, 164) 91%, rgb(127, 6, 161) 94%, rgb(129, 2, 160) 97%, rgb(130, 0, 159) 100%);
}

.bg-main-2 {
    background: linear-gradient(30deg, rgba(130, 0, 159, 0) 50%, rgba(129, 2, 160, 0.01) 53.33%, rgba(126, 8, 162, 0.03) 56.66%, rgba(120, 20, 166, 0.08) 59.99%, rgba(114, 34, 171, 0.13) 63.32%, rgba(106, 50, 177, 0.19) 66.65%, rgba(96, 70, 184, 0.26) 69.98%, rgba(87, 90, 191, 0.34) 73.31%, rgba(77, 110, 198, 0.41) 76.64%, rgba(68, 130, 205, 0.49) 79.97%, rgba(58, 150, 212, 0.56) 83.3%, rgba(50, 166, 217, 0.62) 86.63%, rgba(44, 180, 222, 0.68) 89.96%, rgba(38, 192, 226, 0.72) 93.29%, rgba(35, 198, 228, 0.74) 96.62%, rgba(34, 200, 229, 0.75) 100%);
}

.title-section {
    @apply text-color6 -skew-x-12 relative inline-block font-bold capitalize;

    /*line-height: 1em;*/
    -webkit-text-fill-color: transparent;
    background: linear-gradient(-107deg, rgb(130, 0, 159) 0%, rgb(247, 52, 94) 100%) text;
}

.gradient-grid {
    background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.01) 6.67%, rgba(255, 255, 255, 0.04) 13.34%, rgba(255, 255, 255, 0.1) 20.01%, rgba(255, 255, 255, 0.17) 26.68%, rgba(255, 255, 255, 0.25) 33.35%, rgba(255, 255, 255, 0.35) 40.02%, rgba(255, 255, 255, 0.45) 46.69%, rgba(255, 255, 255, 0.55) 53.36%, rgba(255, 255, 255, 0.65) 60.03%, rgba(255, 255, 255, 0.75) 66.7%, rgba(255, 255, 255, 0.83) 73.37%, rgba(255, 255, 255, 0.9) 80.04%, rgba(255, 255, 255, 0.96) 86.71%, rgba(255, 255, 255, 0.99) 93.38%, rgb(255, 255, 255) 100%);
}

/*--------------------- SERVICES PAGE---------*/
.shadow-service {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    &:hover {
        @apply dropdown-shadow g-transition;
    }
}
